{% extends "base.html" %}
{%load static%}
{% load thumbnail %}
    {%block title%}
    Профайл пользователя {{post.author.get_full_name}}
    {%endblock%}
{%block content%}
  <div class="mb-5">
    <h1>Все посты пользователя {{ author.get_full_name }}</h1>
    <h3>Всего постов: {{ author.posts.count }}</h3>
    <h3>Число подписчиков: {{ author.follower.count }}</h3>
    <h3>Число подписок: {{ author.following.count }}</h3>
    <h3>Число комментов: {{author.comments.count }}</h3>
    {% include 'posts/includes/follow_or_unfollow.html' %}
  </div>
  {% for post in page_obj %}
    {% include 'posts/single_post.html' %}
  {% endfor %}
{% include 'includes/paginator.html' %}
      </div>
{% endblock %}
